{% if images %}
  {%
    set classes = [
      'flexi-gallery',
      show_big_images ? 'flexi-gallery--with-big-images',
      show_small_images ? 'flexi-gallery--with-small-images',
      items|length == 1 ? 'flexi-gallery--one-item',
    ]
  %}
  <div{{ attributes.addClass(classes) }}>

    {% if show_big_images %}

      <div{{ big_images['#attributes'].addClass('flexi-gallery__big-images') }}>
        {% for image in big_images|children %}
          {% set item_attributes = image['#item_attributes'].addClass('flexi-gallery__big-item', loop.first ? 'flexi-gallery__big-item--active') %}
          {% set image_attributes = image['#attributes'].addClass('flexi-gallery__big-image') %}
          {% set image = image|merge({'#attributes': image_attributes}) %}

          <{{ image['#item_tag'] }}{{ item_attributes }}>
            {{ image }}
          </{{ image['#item_tag'] }}>
        {% endfor %}
      </div>
    {% endif %}

    {% if show_small_images %}
      <div class="flexi-gallery__small-images">
        {% for image in small_images|children %}
          {% set item_attributes = image['#item_attributes'].addClass('flexi-gallery__small-item', loop.first ? 'flexi-gallery__small-item--active') %}
          {% set image_attributes = image['#attributes'].addClass('flexi-gallery__small-image') %}
          {% set image = image|merge({'#attributes': image_attributes}) %}

          {% if small_images_visible_count and small_images_visible_count == loop.index %}
            <div class="flexi-gallery__item-separator"></div>
          {% endif %}

          <{{ image['#item_tag'] }}{{ item_attributes }}>
            {{ image }}
          </{{ image['#item_tag'] }}>
        {% endfor %}
      </div>
    {% endif %}

  </div>
{% endif %}
